:root {
  --white: #ffffff;
  --lightgrey: #6e7191;
  --gray: #4e4b66;
  --black: #121212;
  --blue: #1d4ed8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid red;
}
header > nav {
  border-bottom: 1px solid #dedede;
}
header > nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 20px;
}
.nav-logo,
.wrapper svg {
  cursor: pointer;
}
.isDisplayMobile {
  display: block;
}
.isDisplayDesktop {
  display: none;
}

/* MAIN */
main {
  background: #a0a3bd33;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

/* ORDER HEAD */
form {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 400px 200px 250px 56px;
  grid-template-areas:
    " order-head "
    " order-choose-seat "
    " order-seating-key "
    " order-choosed "
    " order-submit ";
  justify-items: center;
}
.order-head {
  grid-area: order-head;
}
.order-choose-seat {
  grid-area: order-choose-seat;
}
.order-seating-key {
  grid-area: order-seating-key;
}
.order-choosed {
  grid-area: order-choosed;
}
.order-submit {
  grid-area: order-submit;
}

/* order-head */
.order-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 14px;
  margin-top: 61px;
}
.order-movie-img {
  background-image: url("../assets/movie-detail.png");
  background-size: cover;
  height: 174px;
  width: 273px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.order-movie-title {
  font-family: Mulish;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.75px;
  text-align: center;
}
.order-movie-genre {
  display: flex;
  gap: 7px;
}
.order-movie-genre p {
  border-radius: 20px;
  gap: 10px;
  padding: 12px 25px;
  background: #a0a3bd1a;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
}
.order-change {
  padding: 0 25px;
  border-style: none;
  background: #1d4ed833;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  text-align: center;
  border-radius: 20px;
  color: var(--blue);
  cursor: pointer;
}

/* ORDER-CHOOSE-SEAT */
.order-choose-seat p {
  font-family: Mulish;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  margin: 41px 0 36px;
}
.order-choose-seat .seat-screen {
  border-bottom: 5px solid lightslategrey; 
  margin: 0 auto 20px;
  width: 80%;
}
.order-seat {
  max-width: 300px;
  overflow-x: scroll;
}

/* ORDER SEATING KEY */
.order-seating-key {
  padding: 10px;
  margin: 0 50px;
}
.order-seating-key > p {
  font-family: Mulish;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  margin-bottom: 20px;
}
.order-seating-key div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.order-seating-key div p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.order-seating-key div p:nth-child(1)::before {
  content: url("../assets/arrow-down.svg");
}
.order-seating-key div p:nth-child(2)::before {
  content: url("../assets/available.svg");
}
.order-seating-key div p:nth-child(3)::before {
  content: url("../assets/love-nest.svg");
}
.order-seating-key div p:nth-child(4)::before {
  content: url("../assets/arrow-right.svg");
}
.order-seating-key div p:nth-child(5)::before {
  content: url("../assets/selected.svg");
}
.order-seating-key div p:nth-child(6)::before {
  content: url("../assets/sold.svg");
}

/* ORDER CHOOSED */
.order-choosed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
  border: 1px solid red;
}
.order-choosed span {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.order-choosed span p:first-child,
.order-choosed span p:nth-child(2) {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  vertical-align: middle;
}
.order-choosed span p:nth-child(1) {
  color: var(--lightgrey);
}
.order-choosed span p:nth-child(2) {
  color: var(--black);
}
.order-choosed select {
  width: 120px;
  height: 56px;
  padding: 0 10px;
}
.order-choosed button {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  color: var(--blue);
  background-color: white;
  outline: 1px solid var(--blue);
  border-radius: 8px;
  padding: 10px 25px;
  margin: 0 25px;
  cursor: pointer;
}

/* ORDER SUBMIT */
.order-submit {
  width: 100%;
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  color: var(--white);
  background-color: var(--blue);
  outline: 1px solid var(--blue);
  border-radius: 5px;
  padding: 10px 25px;
  margin: 0 25px;
  cursor: pointer;
}

/* CONFIRM ORDER */
.confirm-order {
  /* position: absolute; */
  /* background-color: var(--white); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.confirm-order-contain {
  padding: 40px 30px 60px;
  margin: 20px;
  background-color: var(--white);
  padding: 16px 22px 24px;
  border-radius: 5px;
}
.confirm-order-contain > svg {
  width: 100%;
}
.confirm-order-contain > p {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.75px;
  text-align: center;
  vertical-align: middle;
  margin: 30px 0;
}
.confirm-order-contain table {
  border-collapse: collapse;
}
.confirm-order-contain table th,
.confirm-order-contain table th {
  padding-top: 10px;
}
.confirm-order-contain table th {
  text-align: start;
  color: #6B6B6B;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  vertical-align: middle;
}
.confirm-order-contain table td {
  text-align: end;
  padding-left: 30px;
}
.confirm-order-contain table tr:last-child th {
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.75px;
  vertical-align: middle;
  color: var(--black);
}
.confirm-order-contain table tr:nth-child(5) th,
.confirm-order-contain table tr:nth-child(5) td{
  padding-top: 10px;
  border-bottom: 1px solid #6b6b6b43;
}
.confirm-order-contain table tr:nth-child(6) td {
  color: var(--blue);
}
.confirm-order button {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 8px;
  padding: 10px 25px;
  margin: 60px 0 60px;
  width: 100%;
  cursor: pointer;

}
/* FOOTER */
footer {
  display: grid;
  gap: 20px;
  justify-content: center;
  padding: 64px 24px;
  grid-template-columns: repeat(auto-fill, 250px);
}
footer > ul > div {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h5 {
  font-family: Mulish;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: var(--black);
}
.tickitz-footer p {
  color: var(--lightgrey);
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  width: 260px;
}
.explore-footer {
  margin-top: 20px;
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.75px;
}
.explore-footer a {
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: var(--lightgrey);
}
.sponsor-footer,
.follow-footer {
  margin-top: 20px;
}
.sponsor-footer > div > li > svg {
  width: 90px;
}
.follow-footer > div {
  display: flex;
  align-items: center;
  gap: 25px;
}
.follow-footer > div > li > span {
  display: none;
}
.copyright-footer {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 1fr 500px;
  }
  form {
    border-radius: 8px;
    margin: 20px;
  }

  /* ORDER HEAD */
  .order-head {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 100px;
    /* grid-template-rows: 100px; */
    grid-template-areas: 
      " img  title  . "
      " img  genre  . "
      " img  time  button "
    ;
    align-items: start;
  }
  .order-head .order-movie-img {
    grid-area: img;

  }
  .order-head .order-movie-title {
    grid-area: title;
  }
  .order-head .order-movie-genre{
    grid-area: genre;
  }
  .order-head .order-time {
    grid-area: time;
  }
  .order.head button {
    grid-area: button;
    align-items: end;
  }

  /* BUTTON SUBMIT */
  .order-submit {
    width: 85%;
  }

  /* CONFIRM ORDER */
  .confirm-order-contain table tr:last-child th {
    font-weight: 600;
    font-size: 19px;
  }
  .confirm-order-contain table tr:nth-child(6) td {
    font-size: 24px;
    font-weight: 600;
  }
  .confirm-order button {
    width: 85%;
  }

  /* ORDER CHOOSE SEAT */
  .order-choose-seat {
    width: 100%;
  }
  .order-seat {
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  .order-choose-seat > .seat-screen {
    width: 50%;
  }
}



/* MQ For  Navbar & Footer*/
@media screen and (min-width: 768px) {
  /* NAVBAR */
  .isDisplayMobile {
    display: none;
  }
  .isDisplayDesktop {
    display: block;
  }

  header .wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 20px;
  }
  header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  header nav ul li a {
    text-decoration: none;
  }
  .nav-menu a {
    color: var(--gray);
  }
  .nav-menu a:hover {
    border-bottom: 2px solid rgb(91, 86, 86);
  }
  .signin-signup > a:first-child {
    background-color: var(--blue);
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
  }
  .signin-signup > a:first-child:hover {
    background-color: #1d4fd8c5;
  }
  .signin-signup > a:first-child > li {
    color: var(--white);
  }
  .signin-signup > a:nth-child(2) {
    border: 1px solid var(--blue);
    color: var(--blue);
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
  }
  .signin-signup > a:nth-child(2) > li {
    color: var(--blue);
  }
  .signin-signup > a:nth-child(2):hover {
    background-color: #7fa1ff4f;
    color: #1d4ed8;
  }
  .isLoginShow {
    display: none;
  }

  /* FOOTER */
  footer {
    border-top: 1px solid rgba(211, 211, 211, 0.123);
  }
  footer > ul {
    list-style: none;
  }
  footer > ul h5 {
    color: var(--black);
    margin-bottom: 31px;
  }
  footer > p {
    margin: 50px 0;
  }
  .tickitz-footer {
    padding-left: 10px;
  }

  .explore-footer {
    padding-left: 10px;
    /* color: var(--gray); */
  }
  .explore-footer div li a {
    text-decoration: none;
    color: var(--gray);
    font-family: Mulish;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.57px;
    letter-spacing: 0.5px;
  }
  .explore-footer h5,
  .sponsor-footer h5,
  .follow-footer h5 {
    font-size: 16px;
  }

  .sponsor-footer {
    padding-left: 10px;
  }
  .follow-footer {
    padding-left: 10px;
  }
  .follow-footer li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Mulish;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.57px;
    letter-spacing: 0.5px;
  }
  .copyright-footer {
    justify-content: center;
  }
}
